@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html, body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}
